.bid-container {
    margin: 6% 20%;
}

.bid-input {
    width: 30%;
}

.input-group-btn {
    display: inline-block;
}

.bid-btn {
    margin-left: 19%;
    white-space: nowrap;
}

.table-gap {
    margin-top: 4%;
}

.assert-color {
    color: greenyellow;
    cursor: pointer;
    margin: 0 5px;
}

.negate-color {
    color: red;
    cursor: pointer;
    margin: 0 5px;
}

.product-bids-cont {
    display: inline-block;
    word-wrap: break-word;
}

.cursor-pointer {
    cursor: pointer;
}