 @import "../../variables.scss";
 .bid-container {
     margin: 6% 20%;
     .tickCrossBtn {
         cursor: pointer;
         margin: 0 5px;
     }
     .bid-input {
         width: 30%;
     }
     .input-group-btn {
         @extend .app-inline-block;
     }
     .bid-btn {
         margin-left: 19%;
         white-space: nowrap;
     }
     .table-gap {
         margin-top: 4%;
     }
     .assert-color {
         color: $tickColor;
         @extend .tickCrossBtn
     }
     .negate-color {
         color: $crossColor;
         @extend .tickCrossBtn
     }
     .product-bids-cont {
         @extend .app-inline-block;
         word-wrap: break-word;
     }
 }